/* -*- mode:css -*-
// ================================================================================
// GitLab:    http://gitlab.com/voidyourwarranty/paginate
// File:      paginate.css
// Date:      2019-03-25
// Author:    Void Your Warranty
// License:   Gnu General Public License GPLv3 (https://www.gnu.org/licenses/gpl-3.0.en.html)
// Purpose:   Paginate HTML documents.
// ================================================================================
*/ 

body {
  margin:  0;
  padding: 0;
}

* {
  box-sizing:      border-box;
  -moz-box-sizing: border-box;
}

@page {
  size:   auto;
  margin: 0;
}

@media screen {
  body {
      background-color: rgb(232,232,224);
  }
  body.a4-portrait .page{
    width:  210mm;
    height: 297mm;
  }
  body.a4-landscape .page{
    width:  297mm;
    height: 210mm;
  }
  body.letter-portrait .page{
    width:   8.5in;  
    height: 11.0in;
  }
  body.letter-landscape .page{
    width:  11.0in;  
    height:  8.5in;
  }
  .page {
    padding:    2cm;
    margin:     1cm auto;
    border:     2px rgb(128,128,128) solid;
    background: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  }
}

@media print {
  body {
    background-color: white;
  }
  body.a4-porttrait {
    width:  210mm;
    height: 297mm;
  }
  body.a4-landscape {
    width:  297mm;
    height: 210mm;
  }
  body.letter-portrait {
    width:   8.5in;  
    height: 11.0in;
  }
  body.letter-landscape {
    width:  11.0in;  
    height:  8.5in;
  }
  .page {
    padding:          2cm;
    border:           initial;
    border-radius:    initial;
    width:            initial;
    min-height:       initial;
    box-shadow:       initial;
    background:       initial;
    page-break-after: always;
  }
}

/*
// ================================================================================
// End of file.
// ================================================================================
*/
